<%
=begin%>
 <form accept-charset="UTF-8" action = '/users' method = 'post'>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for = 'username'>Username</label>
  <input type = 'text' name = 'user[username]'>
  <label for = 'email'>Email:</label>
  <input type = 'email' name = 'user[email]'>
  <label for = 'password'>password:</label>
  <input type = 'password' name = 'user[password]'>
  <input type = 'submit' value = 'submit'>
</form> 
<%
=end%>

<%
=begin%>
 <%= form_tag("/users", method: 'post') do%>
<%= label(:user, :username) %>
<%= text_field(:user, :username)%>
<%= label(:user, :email)%>
<%= email_field(:user, :email)%>
<%= label(:user, :password)%>
<%= password_field(:user, :password)%>
<%= submit_tag %>
<% end %> 
<%
=end%>

<%= form_with url: '/users', method: 'post', model: @user do |form| %>
  <%= form.label :username, 'Username:'%>
  <%= form.text_field :username %>
  <%= form.label :email, 'Email:'%>
  <%= form.email_field :email %>
  <%= form.label :password, 'Password:'%>
  <%= form.password_field :password %>
  <%= form.submit %>
<%end%>